.lyrics_card_music_icon_background {
  width: 70px;
  height: 100%;
  background-color: #111111;
  text-align: center;
}
.lyrics_card_info_container {
  padding: 0 0 3px;
  font-size: 14px;
  margin-left: 15px;
}
.lyrics_card_info_artist {
  color: var(--ion-color-medium);
  margin-top: -7px;
}
